name: Check actions/cache
on: [push]
jobs:
  cache-artifact:
    runs-on: ubuntu-18.04
    steps:
      - name: Prepare ccache timestamp
        id: cache_timestamp
        shell: cmake -P {0}
        run: |
          string(TIMESTAMP current_date "%Y-%m-%d-%H;%M;%S" UTC)
          message("::set-output name=timestamp::${current_date}")
      - uses: actions/cache@v2
        id: cache
        with:
          path: ~/cache
          key: ${{ runner.os }}-v1-${{ steps.cache_timestamp.outputs.timestamp }}
          restore-keys: |
            ${{ runner.os }}-v1-
      - name: Create cachable file
        env:
          IS_RESTORED: ${{ steps.cache.outputs.cache-hit }}
        run: |
          ls $HOME/cache || true
          echo $IS_RESTORED
          mkdir -p $HOME/cache
          touch $HOME/cache/foo.txt
          mkdir -p $GITHUB_WORKSPACE/artifact
          touch $GITHUB_WORKSPACE/artifact/bar.txt
          cp -r $GITHUB_WORKSPACE/artifact $GITHUB_WORKSPACE/../artifact
      - name: Upload artifact Part 1
        uses: actions/upload-artifact@v2
        with:
          name: artifact
          path: ${{ github.workspace }}/artifact/*.txt
      - name: Upload artifact Part 2
        uses: actions/upload-artifact@v2
        with:
          name: artifact
          path: ${{ github.workspace }}/../artifact/*.txt
