name: Check macOS virtual machine
on: [push]
jobs:
  vm-info:
    runs-on: macos-latest
    steps:
      - name: List Xcode versions
        run: |
          ls -l /Applications/Xcode*
          cat /Applications/Xcode*.app/Contents/version.plist
      - name: Check python-six is installed
        run: |
          ls -l /System/Library/Frameworks/Python.framework/Versions/2.7/Extras/lib/python/six.py
          brew list
          brew uninstall $(brew list | grep python@2)
          python -m six
